<div class="container-fluid">

    <div class="row">
        <div class="col-lg-3 admin-dash-head border text-center">
            <i style="font-size: 80px;"
                class="fa-regular fa-hourglass-half text-white  align-bottom pt-4"><span>100</span></i>
            <p class="fs-4 text-white">Pending Orders</p>

        </div>
        <div class="col-lg-3 admin-dash-head border text-center">
            <i style="font-size: 80px;"
                class="fa-solid fa-truck-fast text-white  align-bottom pt-4"><span>100</span></i>
            <p class="fs-4 text-white">Total Orders</p>
        </div>
        <div class="col-lg-3 admin-dash-head border text-center">
            <i style="font-size: 80px;" class="fa-solid fa-ban text-white  align-bottom pt-4"><span>100</span></i>
            <p class="fs-4 text-white">Canceled Products</p>
        </div>
        <div class="col-lg-3 admin-dash-head border text-center">
            <i style="font-size: 80px;"
                class="fa-solid fa-cart-shopping text-white  align-bottom pt-4"><span>100</span></i>
            <p class="fs-4 text-white">Total Products</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 border admin-dash-side" >
            <div style="height: 33.33%;">
                <i style="font-size: 80px;" class="fa-solid fa-users text-white pt-3"><span> 100</span><span class="fs-6">Users</span></i><br>
                <hr>
            </div>
            <div style="height: 33.33%;">
                <i style="font-size: 80px;" class="fa-solid fa-signal text-white  pt-3"><span> 100</span><span class="fs-6">Revenue</span></i><br>
                <hr>
            </div>
            <div style="height: 33.33%;">
                <i style="font-size: 80px;" class="fa-solid fa-coins text-white  pt-3"><span> 100</span><span class="fs-6">Users</span></i>
               
            </div>
        </div>
        <div class="col-lg-5 border admin-dash-side">

        </div>
        <div class="col-lg-4 border admin-dash-side">

        </div>
    </div>

</div>