<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 ">
            <form action="/verify-password" method="post">
                <h4 class="text-center pt-3">Change Password</h4>
                <div class="container mt-5">
                    <p class="mb-0">Current Password</p>
                    <div class="d-flex">

                        <input class="mb-1" name="password" type="text" style="line-height: 35px; width: 100%;" value="{{upass}}">
                        {{#if response}}{{else}}
                        <input type="submit" class="pass-ver-btn" value="Verify">
                        {{/if}}
                    </div>
                    <p class="text-center text-danger">{{Err}}</p>
            </form>
            {{#if response}}
            <form name="changePassForm" onsubmit="return changePass()" action="/change-password" method="post">
                <p class="mb-0">New Password</p>
                <input class="mb-1" type="text" name="newpass" style="line-height: 35px; width: 100%;">
                <p class="mb-0">Confirm Password</p>
                <input class="" name="confirm" type="text" style="line-height: 35px; width: 100%;">
                <div class="text-center mt-4 ">
                    <p class="text-center text-danger" id="verErr"></p>
                    <input type="submit" class="chng-pass ps-3 pe-3 pt-2 pb-2" value="Change Password">
                </div>
            </form>
            {{/if}}
        </div>

    </div>
    <div class="col-md-5 pass-bg-img ms-5">
        <img src="/images/passw.png" alt="" width="100%" style="transform: scaleX(-1);">
    </div>

</div>
</div>
</div>