<section>
    <div class="container mt-3 " >
    <div class="row pt-4 pb-4">
        <div class="col-md-12">
            <div class="row outer-box-orders">
                <div class="col-md-2">
                    <img src="/product-images/06902223-ce2e-48dc-8350-36ff87cd0839.jpg" alt="" width="85%">
                </div>
                <div class="col-md-10">
                    <b class="text-success fs-5">Arriving today</b>
                    <h3>name</h3>
                    <h5 class="text-secondary">brand</h5>
                    <h6>price</h6>
                    <a href="" class="btn btn-danger float-end">Cancel Order</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>